<!--<div>-->
	<!--<div class="span4">-->
	  <!--<h4>Реальные</h4>-->
	  <!--<% @alive.each do |profile| %>-->
	    <!--<div>-->
	      <!--<a href="http://vkontakte.ru/id<%= profile.uid %>">-->
          <!--<img width="16" height="16" src="<%= profile.photo %>">-->
          <!--"<%= "#{profile.first_name} #{profile.last_name}" %>"-->
	      <!--</a>-->
      <!--</div>-->
    <!--<% end %>-->
  <!--</div>-->
	<!--<div class="span4">-->
	  <!--<h4>-->
	    <!--Неопределенные-->
    <!--</h4>-->
	  <!--<% @unknown.each do |profile| %>-->
	    <!--<div>-->
	      <!--<%= link_to "◀", {:alive_person_id => profile, :group_id => @group}, {:class => "label success real", :id => "pjax", :rel => "twipsy", :title => "Реальный пользователь", :"data-placement" => "left"} %>-->
	      <!--<a href="http://vkontakte.ru/id<%= profile.uid %>">-->
          <!--<img width="16" height="16" src="<%= profile.photo %>">-->
          <!--"<%= "#{profile.first_name} #{profile.last_name}" %>"-->
	      <!--</a>-->
        <!--<%= link_to "▶", {:bot_person_id => profile, :group_id => @group}, {:class => "label important bot", :id => "pjax", :rel => 'twipsy', :title => "Бот", :"data-placement" => "right"} %>-->
      <!--</div>-->
    <!--<% end %>-->
  <!--</div>-->
	<!--<div class="span4">-->
	  <!--<h4>Боты</h4>-->
	  <!--<% @bots.each do |profile| %>-->
	    <!--<div>-->
	      <!--<a href="http://vkontakte.ru/id<%= profile.uid %>">-->
          <!--<img width="16" height="16" src="<%= profile.photo %>">-->
          <!--"<%= "#{profile.first_name} #{profile.last_name}" %>"-->
	      <!--</a>-->
        <!--<a href="#" class="btn danger" data-controls-modal="bots-destroy-modal" data-keyboard="true" data-backdrop="true" data-gid-to-delete="<%= @group.gid %>">Сжечь!</a>-->
      <!--</div>-->
    <!--<% end %>-->
  <!--</div>-->

	<!--<div id="bots-destroy-modal" class="modal hide fade alert-message warning">-->
	  <!--<div class="clearfix">Извините, в бета-версии этот функционал пока недоступен.</div>-->
	  <!--<form method="post" action="#{delete_bots_group_path @group}" data-remote="true">-->
	    <!--<a class="close" href="#">x</a>-->
	    <!--<h2>Удаление роботов из группы</h2>-->
	    <!--<div class="clearfix">Необходимы логин и пароль от аккаунта администратора этой группы.</div>-->
	    <!--<div class="clearfix"><strong>Действие необратимо!</strong></div>-->
	    <!--<div class="clearfix">-->
	      <!--<%= text_field_tag 'login', '', :placeholder => 'логин' %>-->
      <!--</div>-->
	    <!--<div class="clearfix">-->
	      <!--<%= password_field_tag 'password', '', :placeholder => 'пароль' %>-->
      <!--</div>-->
	    <!--<div class="clearfix">-->
	      <!--<%= submit_tag 'Выполнить', class: 'btn danger', onclick: %<$('#bots-destroy-modal').modal('hide'); $('a[data-gid-to-delete="#{@group.gid}"]').removeClass('danger').text('Выполняется...')> %>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->

<div>
  <div class="span4" style="position: absolute; right: 0; top: 0;">
    <a href="/groups/<%= @group.id %>/report_persons" class="btn btn-primary btn-large">Загрузить отчет</a>
  </div>

  <h4>Живые: <%= link_to @alive.count, alive_group_path(@group) %></h4>
  <h4>Сомнительные: <%= link_to @unknown.count, unknown_group_path(@group) %></h4>
  <h4>Боты: <%= link_to @bots.count, bots_group_path(@group) %></h4>
</div>
