<div class="row">
  <div class="span8">
    <h4>Добавить группу</h4>
    <%= form_for add_group_path, method: :post do %>
      <div class="clearfix">
        <%= text_field_tag 'group_url', params['group_url'], class: 'span5', placeholder: 'http://vk...' %>
        <% if @disabled %>
          <%= submit_tag 'Добавить', class: 'btn primary small', style: 'margin-left:5px;', disabled: "disabled" %>
        <% else %>
          <%= submit_tag 'Добавить', class: 'btn primary small', style: 'margin-left:5px;' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row" style="position: relative;">
  <div class="span16">
    <div class="row">
      <div class="span4">
        <h2>Группа: <%= @group.title %></h2>
      </div>

      <div class="clearfix"></div>

      <div class="span12">
        <%= render 'show' %>
      </div>
    </div>
  </div>
</div>
