<tr>
  <td><%= link_to user.id, user_groups_path(user) %></td>
  <td>
    <%= gravatar_image_tag user.email, class: 'gravatar-12', gravatar: { size: 12 } %>
    <%= link_to user.email, user_groups_path(user) %>

    <div class="float-right">
      <% if user.approved? %>
        <% if user.admin? %>
          <span class="label label-important" title="Пользователь является администратором">Администратор</span>
        <% elsif user.manager? %>
          <span class="label label-success" title="Пользователь является менеджером">Менеджер</span>
        <% else %>
          <span class="label label-info" title="Пользователь является подтвержденным">Подтвержденный</span>

          <% unless user.oauth_tokens.present? %>
            <a href="#" title="Пользователь не авторизовался через наше приложение Вконтакте"><i class="icon-remove"></i></a>
          <% end %>
        <% end %>
      <% else %>
        <span class="label label-warning" title="Пользователь ожидает подтверждения">Неподтвержденный</span>
        <% if !user.approved? && user.message.present? %>
          <a href="#" popover-title="<%= user.message %>"><i class="icon-inbox"></i></a>
        <% end %>
      <% end %>
    </div>
  </td>
  <td><%= user.full_name %></td>
  <td><%= number_to_phone user.phone_number, delimiter: ' ' %></td>
  <td><%= user.company %></td>
  <td><%= user.groups.size %></td>
  <td><%= number_with_delimiter user.groups_limit %></td>
  <td><%= number_with_delimiter user.people_limit %></td>
  <td><%= Russian::strftime(user.created_at, '%d %b %H:%M') %></td>
  <td>
    <% unless user == current_user %>
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Опции
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to user_groups_path(user) do %>
              <i class="icon-list-alt"></i>&nbsp;Группы пользователя
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_path(user) do %>
              <i class="icon-edit"></i>&nbsp;Изменить настройки
            <% end %>
          </li>

          <li class="divider"></li>

          <li>
            <%= link_to "mailto:#{user.email}?subject=Bothunter" do %>
              <i class="icon-envelope"></i>&nbsp;Отправить на email
            <% end %>
          </li>
        

          <li class="divider"></li>
          <li>
            <%= link_to user, method: 'delete', confirm: 'Вы уверены?' do %>
              <i class="icon-trash"></i>&nbsp;Удалить
            <% end %>
          </li>
        </ul>
      </div>
   <% end %>
  </td>
</tr>
