<h2>Промо-коды</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>№</th>
      <th>Код</th>
      <th>Группы, шт.</th>
      <th>Пользователи, шт.</th>
      <th>Используется</th>
    </tr>
  </thead>

  <tbody>
    <% @promocodes.each_with_index do |promocode, index| %>
      <tr>
        <th><%= index + 1 %></th>
        <th><%= promocode.code %></th>
        <th><%= promocode.groups_limit %></th>
        <th><%= promocode.people_limit %></th>
        <th>
          <% if promocode.user.nil? %>
            <span class="label">нет</span>
          <% else %>
            <a href="<%= user_path promocode.user %>"></a>
          <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Создать промо-коды</h3>

<div class="row">
  <a href="<%= new_promocode_path %>" data-controls-modal="create-promocode-modal" class="btn btn-primary btn-large">Создать</a>
</div>

<div id="create-promocode-modal" class="modal hide fade alert-message in"></div>

<script>
  $('a[data-controls-modal="create-promocode-modal"]').click(function() {
    $('#create-promocode-modal').load("<%= raw new_promocode_path %>")
  })
//  $('a[data-manager-id]').click(function(){ $(this).text('...') })
//  $('a[data-approved-id]').click(function(){ $(this).text('...') })
</script>
