<%= form_for @promocode do |f| %>
  <a class="close" href="#">x</a>
  <h2>Создание промо-кодов</h2>
  <div class="clearfix">
    <label>Ваше имя</label>

    <div class="input">
      <span class="uneditable-input">
        <%= current_user.full_name %>
      </span>
    </div>
  </div>

  <div class="clearfix">Необходимо указать количество групп и страниц, которыми будет ограничиваться пользователь, зарегистрировавшийся по промо-коду.</div>
  <div class="clearfix">
    <%= f.label :groups_limit, 'Количество групп' %>
    <div class="input">
      <%= f.text_field :groups_limit, placeholder: '0' %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :people_limit, 'Количество страниц' %>
    <div class="input">
      <%= f.text_field :people_limit, placeholder: '0.00' %>
    </div>
  </div>

  <!--div class="clearfix"-->
    <!--| Также необходимо указать количество создаваемых промо-кодов с такими свойствами.-->
  <!--div class="clearfix"-->
    <!--= f.label :promocodes_count, 'Сколько?'-->
    <!--div class="input"-->
      <!--= f.text_field :promocodes_count, :placeholder => '1'-->

  <div class="clearfix">
    <%= f.label :code, 'Сам код' %>
    <div class="input">
      <%= f.text_field :code %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.submit 'Выполнить', class: 'btn danger' %>
  </div>
<% end %>
