<%= semantic_form_for @promocode do |f| %>
  <h2>Создание промо-кодов</h2>

  <div class="clearfix">
    Необходимо указать количество групп и страниц, которыми будет ограничиваться пользователь, зарегистрировавшийся по промо-коду.
  </div>

  <%= f.input :groups_limit, as: :string, required: false, input_html: { autofocus: true, tabindex: 1 } %>
  <%= f.input :people_limit, as: :string, required: false, input_html: { tabindex: 2 } %>
  <%= f.input :email_to, as: :email, required: false, input_html: { tabindex: 3 } %>
  <%= f.input :code, as: :string, required: false, input_html: { tabindex: 4 } %>
  <div>
    <%= link_to new_promocode_path, remote: true, title: 'Обновить промо-код' do %>
      <i class="icon-refresh"></i>&nbsp;Обновить
    <% end %>
  </div>

  <br>
  <%= f.submit 'Создать', class: 'btn btn-primary', tabindex: 5 %>
<% end %>
