<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bothunter</title>

    <%= stylesheet_link_tag  "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if current_user %>
      <%= render "layouts/topbar" %>
    <% end %>

    <div class="messages">
      <% flash.each do |type, message| %>
        <%= content_tag :div, class: "alert alert-#{type}" do %>
          <%= link_to 'x', '#', class: 'close', 'data-dismiss' => 'alert' %>
          <p><%= message %></p>
        <% end %>
      <% end %>
    </div>

    <div class="container">
      <div class="toolbar-free-space"></div>
      <div class="content">
        <%= yield %>
      </div>

      <footer class="footer">
        <div class="container">
          <ul>
            <li>
              ©&nbsp;<a href="http://myhotspot.ru" target="_blank">Hot Spot</a>&nbsp;2011
            </li>
            <li>
              <a href="mailto:bothunter@myhotspot.ru">Связаться с нами</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29877589-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
